# =========================
# Compilação C
# =========================
*.o
*.obj
*.out
*.exe
a.out

# Bibliotecas / binários
*.a
*.so
*.dll
*.dylib

# Debug / símbolos
*.pdb
*.dSYM/
*.su

# =========================
# Pastas de build
# =========================
build/
bin/
obj/

# =========================
# IDE (opcional)
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.log
*.tmp
*.d